<form (ngSubmit)="sumbit()" [formGroup]="FilesForm">
  <div class="mb-3 text-center">
    <label for="profilePicture" class="form-label">
      Photo de profile
    </label>
    <div>
      <img [src]="profileService.getCurrentUserPicture()" *ngIf="picturePreview == ''" alt="Profile Picture"
        class="rounded-circle img-thumbnail pic-img" width="150" height="150">
      <img [src]="picturePreview" *ngIf="picturePreview != ''" alt="Profile Picture"
        class="rounded-circle img-thumbnail pic-img" width="150" height="150">
    </div>
    <div class="mt-3">
      <label for="profilePicture" class="form-label btn btn-primary">
        Change la photo de profile
        <input type="file" id="profilePicture" (change)="onFileChange($event, 'profilePicture')" accept="image/*"
          hidden>
      </label>
    </div>
  </div>
  <div class="mb-3 text-center">
    <label for="banner" class="form-label">
      Banner
    </label>
    <div>
      <img [src]="profileService.getCurrentUserBanner()" *ngIf="bannerPreview == ''"
        style="max-height: 250px !important;" alt="Banner" class="img-fluid img-thumbnail banner-img">
      <img [src]="bannerPreview" *ngIf="bannerPreview != ''" style="max-height: 250px !important;" alt="Banner"
        class="img-fluid img-thumbnail banner-img">
    </div>
    <div class="mt-3">
      <label for="banner" class="form-label btn btn-primary">
        Changer le banner
        <input type="file" id="banner" (change)="onFileChange($event, 'banner')" accept="image/*" hidden>
      </label>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary px-4" type="submit">
      Sauvegarder
    </button>
  </div>
</form><p-toast></p-toast>