<div class="card border-top border-3 border-primary rounded-0 h-auto"
  style="margin-bottom: 0 !important; display: flex; flex-direction: column; height: 100%;">
  <div class="modal-header card-header py-3 px-4">
    <h5 class="mb-0 text-primary">Ajouter une Experience</h5>
    <button type="button" class="btn-close" (click)="onClose()" aria-label="Close"></button>
  </div>
  <div class="card-body p-4"
    style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
    <div>
      <!-- ! sections -->
      <div *ngFor="let section of sections; let i = index">
        <div class="card">
          <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h4 class="mb-3">{{section.title}}</h4>
            <button type="button" class="btn btn-success p-1 m-1 rounded-0"
              style="border: none; display: flex; align-items: center; justify-content: center;"
              (click)="insertComponent(i, section.id)">
              <i class=" material-icons-outlined">add</i>
            </button>
          </div>
          <div class="card-body">
            <div #containerRef></div>
            <!-- ! section forms -->
            <ng-container *ngFor="let item of section.items">
              <app-section-modal-form [initialSectionItem]="item"></app-section-modal-form>
            </ng-container>
          </div>
        </div>
        <br>
      </div>

    </div>
    <div class="col-md-12" style="align-self: flex-end;">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success px-4 rounded-0" (click)="onClose()">Ok</button>
      </div>
    </div>
  </div>
</div>