<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Chat</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="javascript:;"></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contactez vos amis</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div [ngClass]="
        selectedConversationId == -1
          ? 'd-block d-sm-block'
          : 'd-none d-sm-block'
      " class="col-sm-5 col-md-4 col-lg-3">

      <div class="vh-80 d-flex flex-column">
        <h5 class="mt-2 word-break-all m-0">
          Conversations
        </h5>
        <div class="scrollarea">
          <div *ngFor="let c of userConversations; let i = index" (click)="onConversationSelected(i)"
            class="p-2 mt-2 d-flex align-items-center cursor-pointer rounded bg-secondary-subtle">
            <div>
              <!-- <span class="circular-letter me-2">
                {{ c.otherUserName.charAt(0) }}
              </span> -->
              <img [src]="getProfilePicture(c.picture)" class="circular-letter me-2" alt="">
            </div>
            <div class="w-100">
              <h6 class="m-0">{{ c.otherUserName | titlecase }}</h6>
              <small class="m-0">{{ c.lastMessage }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="
        selectedConversationId == -1
          ? 'd-none d-sm-block'
          : 'd-block d-sm-block'
      " class="col-sm-7 col-md-8 col-lg-9 bg-body-tertiary p-0 border-start border-secondary-subtle"
      style="border: 1px rgb(206, 203, 203) solid !important;">
      <div *ngIf="selectedConversationId == -1" class="d-flex justify-content-center align-items-center"
        style="height: 80vh;">
        <div class="text-center">
          <i class="bi bi-chat-dots fs-1"></i>
          <h4>Aucune conversation selectionnée</h4>
          <p>Clicker sur une conversation<br />Ou ajouter des amis</p>
        </div>
      </div>

      <!-- Conversation display -->
      <div *ngIf="selectedConversationId != -1" class="d-flex flex-column" style="height: 80vh; ">
        <div class="p-2 d-flex justify-content-between bg-body-secondary">
          <div class="d-flex align-items-center justify-content-center">
            <button (click)="onCloseChat()" class="btn py-0 me-1 d-sm-none">
              <i class="bi bi-list fs-4"></i>
            </button>
            <h4 class="m-0">{{ selectedConversationReceiverName }}</h4>
          </div>
        </div>

        <div class="main-flex-grow scrollarea p-3">
          <div *ngFor="let m of selectedConversation" class="mt-2">
            <div class="text-white rounded py-1 px-2 mw-75" [ngClass]="
                currentUser.userId == m.senderId
                  ? 'float-end bg-primary-1 text-white'
                  : 'float-start bg-secondary-subtle text-dark'
              ">
              <div class="fs-6 word-break" [ngClass]="
                  currentUser.userId == m.senderId ? 'text-white' : 'text-dark'
                ">
                {{ m.content }}
              </div>
              <div class="fs-7" [ngClass]="
                  currentUser.userId == m.senderId
                    ? 'float-end text-white-50'
                    : 'float-start text-black-50'
                ">
                {{ m.createdAt | betterDate }}
              </div>
            </div>
            <div *ngIf="currentUser.userId == m.senderId">
              <i (click)="onDeleteMessage(m.messageId)"
                class="bi bi-trash text-danger p-2 cursor-pointer float-end opacity-hover"></i>
            </div>
          </div>
        </div>

        <div>
          <form (submit)="onSendMessage()">
            <div class="d-flex px-4 py-2 bg-body-secondary">
              <input class="form-control" type="text" name="message" placeholder="Tapez votre message..."
                (keyup.enter)="onSendMessage()" [(ngModel)]="message" />
              <button type="submit" class="btn bg-primary-1 ms-2">
                <i class="bi bi-send text-white"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>