    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="inputValue" (input)="onInputChange()" placeholder="Type a technology">
    </div>
    <ul *ngIf="suggestions.length > 0" class="list-group">
      <li *ngFor="let suggestion of suggestions" class="list-group-item list-group-item-action" (click)="selectSuggestion(suggestion)">
        {{ suggestion.title }}
      </li>
    </ul>
    <div *ngIf="suggestions.length === 0 && inputValue !== ''" class="alert alert-danger mt-2">
      Aucun résultat pour "{{ inputValue }}" réessayez ou choisissez-en un autre
    </div>
    <div class="mt-3 mb-2">
      <span *ngFor="let tag of selectedTechnologies" class="badge bg-primary me-2">
        {{ tag.title }}
        <button type="button" class="btn-close btn-close-white ms-2" aria-label="Close" (click)="removeTag(tag)"></button>
      </span>
    </div>
  