<div class="modal-content">
  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Mot de passe requis</h4>
      <button type="button" class="close close-btn" aria-label="Close" (click)="close()">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{ message }}</p>
      <input type="password" id="password" placeholder="Enter your password" formControlName="userInput"
        class="form-control" required>
      <small *ngIf="errorMessage" class="text-danger" style="font-size: 15px;">{{ errorMessage }}</small>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Cancel</button>
      <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>